---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import Cursor from '@components/Cursor.tsx';
import '@styles/global.css';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Behelit Systems</title>
        <meta name="description" content={description} />
        <meta name="keywords" content="Hardware Security, Penetration Testing, Social Engineering, Blue Team, Cybersecurity Malaysia" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content=`${title} | Behelit Systems` />
        <meta property="og:description" content={description} />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content=`${title} | Behelit Systems` />
        <meta property="twitter:description" content={description} />
		<ViewTransitions />
	</head>
	<body class="bg-black text-white">
        <div id="luxy">
            <Cursor client:load />
            <Navbar />
            <main class="min-h-screen">
                <slot />
            </main>
            <Footer />
        </div>
        <style is:global>
            body, a, button { cursor: none; }
        </style>
        <script src="https://min30327.github.io/luxy.js/dist/js/luxy.js" charset="utf-8"></script>
        <script>
            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if (!isMobile) {
                try {
                    luxy.init({ wrapper: '#luxy', wrapperSpeed: 0.08 });
                } catch (e) {
                    console.error("Luxy.js initialization failed.", e);
                }
            }
        </script>
	</body>
</html>
